html {
  background-color: #141e24;
  color: #53a1b3;
  font-family: Open Sans, Segoe UI, Helvetica Neue, Ubuntu, sans-serif;
  font-size: 16px;
}

body {
  border: 2px solid white;
  align-items: stretch;
  box-sizing: content-box;
  display: flex;
  flex-direction: column;
  height: 30rem;
  margin: 0 auto;
  padding: 1rem;
  position: relative;
  width: 15rem;
}
